.events {
 margin-left: 100px;
}

.events>li {
 margin: 30px;
}

.eventDetails>li {
 list-style-type: none;
}

.eventDetails>li:before {
 content: "\276f";
 padding-right: 5px;
}

.content .contacts {
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

.content .contact {
	float: left;
	padding: 10px;
	max-width: 320px;	
}

.content #facebookMessengerButton {
	background-color: rgb(0, 132, 255);
	padding: 15px;
	text-decoration: none;
	border-radius: 10px;
	color: white;
}

#followUsOnFacebook a {
	text-decoration: none;
	color: rgb(24, 119, 242);
	display: block;
	padding: 10px;
}

#followUsOnFacebook .centered {
	display: inline-block;
}

#followUsOnFacebook span {
	line-height: 50px;
    	display: block;
	float: left;

}
#followUsOnFacebook img {
	height: 50px;
	display: block;
}
